.header{
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  color: #5b6fd7;
}
.noReactions{
  margin-top: 33vh;
  font-size: 20pt;
  text-align: center;
}
.reactionsList{
  display: flex;
  flex-direction: column;
}
.reaction{
  width: 100%;
  padding: 2vh 0;
  text-align: center;
  border-bottom: 1px solid #898989;
  font-size: 18pt;
}
